body{
    background: beige;
    font-family:"webfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.A{
    font-size: 20px;
    width: 100px;
    height: 100px;
    background: url(../img/images.png);
}
